_UpgradeReport_Files
_ReSharper.*
bin
obj
*.pdb
*.user
UpgradeLog.xml
*.suo
*.pidb
*.userprefs
binaries
/Misc_Microsoft_MPL_Libs/packages
*.nupkg
/VisualStudio Solution Files/packages
/O2_Platform_Installer/Debug/O2_Platform_Installer.msi
/O2_Platform_Installer/Debug/setup.exe
*.ncrunchsolution

/Website.O2Platform/*.ncrunchproject

*.ncrunchproject
