<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentSharp.BCL" version="5.0.44" targetFramework="net35" />
  <package id="FluentSharp.CoreLib" version="5.0.44" targetFramework="net35" />
  <!--<package id="Mono.Cecil" version="0.9.5.4" targetFramework="net35" />-->
</packages>