@{
    Layout = null;
    var message = "Razor Page Test";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        This is a razor page: @message
    </div>
</body>
</html>
