<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="Local_O2_Dlls_Folder" value="O2_Reference_Dlls" />
    <add key="GitHub_O2_Dlls" value="https://raw.github.com/o2platform/O2_Platform_ReferencedAssemblies/master/O2_Assemblies/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>